@import url("https://www.dafont.com/spongeboy-me-bob.font");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to right, rgb(26, 0, 87), rgb(77, 1, 73));
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    border: #000000;
    text-shadow: 2px 2px 5px #00000067, -2px -2px 5px #00000049, 2px -2px 5px #00000044, -2px 2px 5px #0000004d;
}

h1 {
    font-size: 2.5em;
    color: #ffffffd3;
    margin-bottom: 60px;
    text-shadow: 2px 2px 5px #00000067, -2px -2px 5px #00000049, 2px -2px 5px #00000044, -2px 2px 5px #0000004d;
}

h2 {
    font-size: 1.8em;
    color: #ffffff;
    margin-bottom: 5px;
    text-shadow: 2px 2px 5px #00000067, -2px -2px 5px #00000049, 2px -2px 5px #00000044, -2px 2px 5px #0000004d;
    text-align: left;
}

#main {
    background-image: url("https://ichef.bbci.co.uk/ace/ws/800/cpsprodpb/11D93/production/_121270137_gettyimages-584047706.jpg.webp");
    background-position: center;
    background-size: cover;
    border-radius: 800px;
    box-shadow: 0 4px 8px rgba(165, 159, 159, 0.1);
    padding: 50px;
    margin-top: 80px;
    max-width: 1200px;
    margin-left: 30px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    gap: 69px;
    margin-bottom: 60px;
    box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.432);
    margin: auto;
}

#name {
    position: relative;
    margin-top: -560px;
    font-size: 2em;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 150px;
    text-shadow: 2px 2px 5px #00000067, -2px -2px 5px #00000049, 2px -2px 5px #00000044, -2px 2px 5px #0000004d;
}

#main img {
    max-width: 150%;
    height: 400px;
    border-radius: 1000px;
}

#lista-container {
    flex-grow: 1;
    text-align: left;
    padding-left: 20px;
}

#main ol {
    list-style-position: inside;
    text-align: left;
    margin-left: 0;
    padding-left: 0;
}